# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle Selectrify'
      'command': 'selectrify:toggle'
    }
    {
      'label': 'Draw Datacule'
      'command': 'selectrify:draw'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Selectrify'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'selectrify:toggle'
        }
        {
          'label': 'Draw'
          'command': 'selectrify:draw'
        }
      ]
    ]
  }
]
